.landingPage{
    height: 100vh;
    /* background-color: rosybrown; */
    /* background:    linear-gradient(
        rgba(252, 250, 250, 0.45), 
        rgba(254, 252, 252, 0.2)
      ), url('../Assets/fakurian-design-GJKx5lhwU3M-unsplash.jpg'); */
    /* background-image: url('../Assets/IMG_2524.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid blue; */
    
    /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 255); */
    
}

.landingPage h1 {
    text-align: right;
    padding-right: 20px;
    margin: 0px;
    padding: 20px;
    z-index: 5;
    position: relative;
    /* background-color: rgba(249, 247, 247, .2); */
    color: black;
    font-family: 'Snell Roundhand';
  }

.landingPage h2 {
    color: rgba(0,0,0,1);
    text-transform: uppercase;
    line-height: 1;
    font-size: 20px;
    text-align: left;
    font-family: 'Didot Italic';
    font-weight: 400;
    font-style: normal;
    width: 40vw;
    position: relative;
    left: 100px;
    margin: 0px;

}

#land {
    display: flex;
    text-align: left;
    position: relative;
    left: 100px;
    color: black;
    width: 50vw; 
}

