.SideNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    width: 80px;
    height: 100vh;

    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    
}
/* .SideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } */
.SideNav a{
    cursor: pointer;
    color: red;
    
}
.SideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: yellow;
  }
/* .SideNav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
}
  
.SideNav a:hover {
    color: #f1f1f1;
  }
.SideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .SideNav {padding-top: 15px;}
    .SideNav a {font-size: 18px;}
} */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #eaecef;
}

header {
    padding:  30px;
    background: #011627;
    height: 40px;
}

.sidenav {
    width: 240px;
    background: #011627;
    position: absolute;
    height: 95vh;
    padding: 0 30px;
    left: -100%;
    transition: all .5s;
}
.sidenav.active {
    left: 0;
}
.logo {
    width: 50px;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

ul li a:hover,
ul li a.active {
    background: #172b4d;
}

ul li a svg {
    margin-right: 10px ;
}
header svg {
    font-size: 40px;
}