.App {
  text-align: center;
  
}

a{
    text-decoration: none;
    color: inherit;
}

.App-logo {
    height: 100px;
    pointer-events: none;
    display: flex;
    justify-content: center;
  }



