.App {
  text-align: center;
  
}

a{
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
}

.App-logo {
    height: 120px;
    pointer-events: none;
    
  }

  .test{
      height: 1000px;
      border: 3px solid red;
  }



